body {
    color: white;
    background-color: rgb(49, 49, 49);
}

a {
    color: rgb(218, 243, 77);
    font-weight: bold;
}

ul h3 {
    text-decoration:underline;
}

ul li{
    font-style: oblique;
}

img{
    border: wheat;
    border-style: ridge;
}

.desc {
    background-color: rgb(24, 24, 54);
    border-radius: 5px;
    text-indent: 5px;
}

#menu{
    text-align: center;
}

#menu a {
    padding-right: 10%;
    font-size: x-large;
}